pandas
joblib
alpaca-trade-api
polygon-api-client
fuzzywuzzy
numpy
scikit-learn
tensorflow
matplotlib
ruff
scipy
python-dateutil
plotly
altair
streamlit-lottie
# google-colab

# Optionally, for improved performance of fuzzywuzzy:
python-Levenshtein

#frontend
streamlit
npm