pandas
joblib
alpaca-trade-api
fuzzywuzzy
numpy
scikit-learn
tensorflow
matplotlib
ruff
scipy
python-dateutil
plotly
altair
streamlit_lottie
# google-colab

# Optionally, for improved performance of fuzzywuzzy:
python-Levenshtein

#frontend
streamlit
npm